{
    "token": "Token here",
    "game": {
        "name": "Game name",
        "url": "Twitch stream URL",
        "status": 0 // Set to 1 for streaming
    },
    "prefixes": ["Your", "prefixes", "here"],
    "extensions": {
        "startup": ["moderation"]
    },
    "owners": [] // Owner IDs go here! Give as numbers, not strings.
}